* {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

/* Navbar */
/* * {
    box-sizing: border-box;
} */

body {
    margin: 0;
    padding: 0;
} 

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: black;
    background-color: darkgray;
}
#idk{
    color: blue;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    background-color: darkgray;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    background-color: darkgray;
}

.navbar-links li a:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background-color: darkgray;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: black;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}




.row{
    align-items: center;
    color: white;
    text-align: center;
    
}
/* .row .column1 {
    padding-right: 50px;
    
} */

.column1 h1{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 100px;
}

.column1 p{
    font-size: 25px;
    /* margin-bottom: 20px; */

}

.column1 button{
    width: 150px;
    padding: 10px 15px;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background: transparent;
    background-position: 2.6in 10.2in;
    border: 2px solid white;
    font-family: 'Courier New', Courier, monospace;
}
.column1 button:hover{
    transition: ease-in-out 0.5s;
    background-color: aliceblue;
    color: black;
}

/* Header content respnsive*/
@media screen and (max-width: 980px){
    
}



/* made by me */
.made p{
    text-align: center;
    font-size: 25px;
    color: black;
    background-color: darkgray;
    
}
.made {
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}